body{
    background-color: rgb(167, 224, 167);
    margin: 0px;
    padding: 0px;
    
}
h3{
    text-align:left;
    padding: 20px;
    color: black;
}
header{
    background: rgb(167, 224, 167);
    background-image: url(gradinaworkok.avif);
    background-repeat: no-repeat;
    height: 400px;
    padding:0px;
    top: 30px;
    width: 100%;
}

li{
    display: inline-block;
    margin: 40px 30px;
    margin-top: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

a{
    font-size: x-large;
}
.navigatie{
    
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features{
    color: black;
}
.features img
{   
    border-radius:500%;
    margin-left: 350px;
    width: 800px;
}

.features figcaption
{
    text-align: center;
    text-transform: uppercase;
}
section{
    display: flex;
    color: black;
    flex-direction: column;
    height: 400px;
    padding: 20px;
    margin: 0px;
    margin-left: 20px;
}
